{% extends 'master.html' %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Student List{% endblock %}</title>
</head>
<body>
    {% block content %}
        <table align="center" style="text-align:center;width:50%" border="1">
            <tr>
                <th>SID</th>
                <th>SNAME</th>
                <th>DELETE</th>
            </tr>
            {% for st in students %}
            <tr>
                <td>
                    {{ st.sid }}
                </td>
                <td>
                    {{ st.sname }}
                </td>
                <td>
                    <a href="deleteStudent/{{ st.sid }}">DELETE</a>
                </td>
            </tr>
            {% endfor %}
        </table>
    {% endblock %}
</body>
</html>